{% extends 'base.html' %}


{% block content %}
<style>
    .card{
        margin: 1rem;
        border-color: white;
    }
    .card-title{
        font-weight: bold;
    }
    p{

        font-size: 0.99rem;
        font-family:'Times New Roman', Times, serif;
    }
    h1{
        font-size: 7rem;
        color: #198754;
        font-family:Georgia, 'Times New Roman', Times, serif ;

    
        font-weight: bold;
    }
    h2{
        font-size: 7rem;
        color: black;
        font-family:Georgia, 'Times New Roman', Times, serif ;

        font-weight: bold;
    }
   
</style>

<h1>Innovation</h1>
<h2>is in our DNA.</h2>

<div class="card mb-3" style="max-width: 65rem height=6rem">
    <div class="row g-0">
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">We stand as an experienced and trustworthy technology ally, ready to help with your next venture.</h5>
                <p class="card-text">♻️ Tech.Ltd,formed by a team of seasoned founders, CTOs, product designers, and engineers, has grown to a workforce of 450 strong. Over the past decade, we've been instrumental in delivering over a 100 new products. We've forged partnerships with a wide variety of innovative startups and enterprises, building solutions that needed to blend a user-friendly interface with the intricate aspects of data, cloud, and security.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="col-md-4">
            <img src="https://thumbs.dreamstime.com/z/dna-binary-code-future-computer-technology-concept-genome-science-structure-modified-gmo-engineering-molecular-symbol-sign-107904160.jpg" class="img-fluid rounded-start" alt="...">
        </div>
    </div>
</div>
<br>
<br>
<div class="card mb-3" style="max-width: 65rem;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://qph.cf2.quoracdn.net/main-qimg-fa71762640ea42b843ecfb956e05413e.webp" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h6 class="card-title">Message From CEO</h6>
          <p class="card-text">“It’s important that we all take ownership of our goals and objectives. Let’s strive toward success together,We’re in the middle of an exciting time as our company grows.Let’s use this as an opportunity to be proactive and work towards our long-term goals!”<br>CEO- Rajesh Dai</p>
          
        </div>
      </div>
    </div>
  </div>
  <footer>
    <center>

   
    <p>Shashank Thapa: 2024 ♻️ Tech.Ltd . All rights reserved.</p>
</center>
</footer>



{% endblock %}
	