{% extends 'base.html' %}


{% block content %}

<style>
   
  
    .card{
        margin: 2rem;
        border-color: white;
      
    }
    .img-fluid {
        height: 28rem;
        width: 34rem;
    }
    h1{
        font-size: 4.6rem;
        font-weight: bolder;
        font-family:'Times New Roman', Times, serif;
    }
    p{
        font-size: 1.5rem;
        font-family:'Times New Roman', Times, serif;

    }
    h2{
        font-size: 3rem;
        font-weight: bolder;
        font-family:'Times New Roman', Times, serif;
    }
    p1{
        text-align: left;
        font-family:'Times New Roman', Times, serif;

    }
</style>
<div class="card mb-2" >
    <div class="row g-0">
      <div class="col-md-6">
        <div class="card-body">
            <h1 style="color: black;">Innovate</h1>
            <h1 style="color: black;">better,</h1>
            <h1 style="color:#197148;">faster.</h1>
          <p class="card-text">We help businesses imagine and create the digital experiences of tomorrow. We succeed together, through the fusion of startup agility, enterprise standards, and world-class engineering.</p>
        </div>
      </div>
      <div class="col-md-4">
        <img src="https://cdn.cleancommit.io/blog/2022/12/front-end-back-end-coding-cartoon.jpg" class="img-fluid rounded-end" alt="...">
      </div>
    </div>
  </div>
  <center>
    <h2>Trusted by 150+ enterprises, scale-ups and startups.</h2>
    <br>
    
    
  </center>


  <div class="card mb-3" style="max-width: 65rem;">
    <div class="row g-0">
      <div class="col-md-4">
       
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h6 class="card-title"></h6>
    
          <p class="card-text">We have a proven track record of ambitious products in complex environments.Since 2010, we've had over 100 fast-growing companies build apps, data-driven products, and cloud solutions that make an impact.</p>
      </div>
    </div>
  </div>



  

{% endblock %}
	